h1{
    color: darkcyan;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

p{

    color: crimson;
    text-align: justify;
    font-weight: 600;
    letter-spacing: -1px;
   font-size: 16px;
   line-height: 1;
   font-family: 'Roboto Slab', serif;
}
#history{

    border-style: double;
    border-width: 13px;
    border-color: darkgrey;
    color: limegreen;
}